html{
    height: 100%;
}

body{
    height: 100%;
}

.navbar-brand{
    font-family: inherit;
}

.nav-link{
    font-family: inherit;
}

.collapse a{
    cursor: pointer;
}

#exportArena{
    display: none;
}