html{
    height: 100%;
}

body{
    height: 100%;
}

.navbar-brand{
    font-family: inherit;
}

.nav-link{
    font-family: inherit;
}

.collapse a{
    cursor: pointer;
}

#exportArena{
    display: none;
}

#editArena{
    display: none;
}

#importArena{
    display: block;
}

.form-group{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btDelete{
    margin-left: auto;
    margin-right: auto;
}

.coverbtn{
    display: flex;
}

.form-group label{
    font-size: 12px
}

.navbar-nav li{
    width: 80px;
}

.nav-item a{
    color: rgba(0, 0, 0, 0.607);
}